{% extends 'sansayvcm_client/index.html' %}

{% block tool_content %}
<h1>Sansay VCM Request Test</h1>
<div class="col-md-8">
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form_group">
            <label for="server" class="col-sm-3 control-label">{{ form.server.label }}</label>
            <div class="col-sm-9">
                {{ form.server }}
            </div>
        </div>
        <div class="form_group">
            <label for="cluster" class="col-sm-3 control-label">{{ form.cluster.label }}</label>
            <div class="col-sm-9">
                {{ form.cluster }}
            </div>
        </div>
        <div class="form_group">
            <label for="did" class="col-sm-3 control-label">{{ form.did.label }}</label>
            <div class="col-sm-9">
                {{ form.did }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Send Request</button>
            </div>
        </div>
        
    </form>
</div>
<div class="col-md-4"></div>

{% endblock tool_content %}

