{% extends 'tools/base.html' %}

{% block tool_content %}
  
  <div class="card-header justify-content-between">
    <h2>Device Specific Migration</h2>
  </div>
  <div>
    <h2 class="text-primary"><i class="fa fa-info"></i> Documentation</h2>

      <p>This tool migrates BroadWorks Polycom Devices from their generic form to their respective specific Device Type based upon the current registered User Agent.
         When run on a Service Provider, a Group is required. When running on an Enterprise, a group is optional. <strong>If no group is provided, it is assumed that all groups
         within the Enterprise will be migrated.</strong><br/><br/>
         This process involved rebuilding Devices and assigned Lines and Shared Call Appearances on a device. <strong>This is service impacting for the respective customer.</strong>
      </p>
    <div class="col-sm-3 col-sm-12 col-sm-3">
    <div class="widget">
        <div class="widget-header">
            <h3 type="button" class="btn btn-secondary minimize-widget widget-title ik ik-plus pull-right"> Summary of actions:</h3>
        </div>
        <div class="widget-body" style="display: none;">
            <pre>
for each group:
    GroupAccessDeviceGetListRequest
    for device in devices:
        if device_type == 'Polycom':
            GroupAccessDeviceGetUserListRequest
            for user in users:
                UserGetRegistrationListRequest
            # Match device type based upon registered User Agent
            # Fail if not registered or no User Agent
            GroupAccessDeviceGetRequest18sp1
            # Generate new device info
            # Ensure existing device has a primary line/port
            GroupAccessDeviceGetUserListRequest
            GroupAccessDeviceModifyUserRequest
            # Create new device
            GroupAccessDeviceAddRequest14
            # Copy device tags to new device
            GroupAccessDeviceCustomTagGetListRequest
            for tag in device_tags:
                GroupAccessDeviceCustomTagAddRequest
            # Send existing device a new config file to redirect to the new device &amp; reboot
            GroupAccessDeviceFileModifyRequest14sp8
            GroupCPEConfigRebuildDeviceConfigFileRequest
            GroupAccessDeviceResetRequest
            # Move line/ports from old to new device
            for line_port in line_ports:
                if line_port['Endpoint Type'] == 'Primary':
                    # Remove Primary Line/Port from previous device
                    UserModifyRequest17sp4
                    # Add Primary Line/Port to new device
                    UserModifyRequest17sp4
                elif line_port['Endpoint Type'] == 'Shared Call Appearance':
                    # Remove SCA from previous device
                    UserSharedCallAppearanceDeleteEndpointListRequest14
                    # Add SCA to new device
                    UserSharedCallAppearanceAddEndpointRequest14sp2
            # Set new device's primary line/port (if necessary)
            GroupAccessDeviceGetUserListRequest
            GroupAccessDeviceModifyUserRequest
            # Success!</pre>
                    </div>
                  </div>

    <span class="text-danger"><i class="ik ik-alert-triangle"></i> 
      <span class="badge badge-pill badge-danger mb-1">WARNING This will disrupt service for most devices and will stop service on any manually configured devices.</span>
    </span>

    <div class="well">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p><label></label><input id="submit" type="submit" value="Run"/></p>
      </form>
    </div>
  </div>
{% endblock tool_content %}

{% block javascript %}
  {{ block.super }}
  {% if form.javascript %}
    <script src="{{ form.javascript }}"></script>
  {% endif %}
{% endblock javascript %}
