{% extends 'tools/base.html' %}

{% block tool_content %}
  <div class="card-header justify-content-between">
    <h2>Fraud Compliance Reset</h2>
  </div>
  <div class="card-body">
    <h2 class="text-primary"><i class="fa fa-info"></i> Documentation</h2>
    <p>This tool resets critical features, passwords and settings commonly found to be abused for fraudulent purposes. It can be run on either a Service Provider or an Enterprise.
       When run on a Service Provider, a Group is required. When running on an Enterprise, a group is optional. <strong>If no group is provided, it is assumed that all groups
       require action within the Enterprise.</strong><br/><br/>
       Devices will be rebooted and their credentials reconfigured. Any device that is not properly configured to use Device Management or which does not support Device Management
       will cease to function until it is reconfigured. If it supports Device Management, it will be required to be configured to use Device Management, if it does not the devices
       credentials will be output.
     </p>
    <div class="col-sm-3 col-sm-12 col-sm-3">
    <div class="widget">
        <div class="widget-header">
            <h3 type="button" class="btn btn-secondary minimize-widget widget-title ik ik-plus pull-right"> Summary of actions:</h3>
        </div>
        <div class="widget-body" style="display: none;">
            <pre>
GroupOutgoingCallingPlanOriginatingModifyListRequest
GroupOutgoingCallingPlanRedirectingModifyListRequest
UserGetListInGroupRequest
  for each user:
      UserOutgoingCallingPlanOriginatingModifyRequest
      UserGetRequest19
      GroupAccessDeviceGetRequest18sp1 or ServiceProviderAccessDeviceGetRequest18sp1
      UserSharedCallAppearanceGetRequest16sp2
      SystemDeviceTypeGetRequest19
      Generate New User Password
      Generate New Auth Username
      Generate New Auth Password
      GroupAccessDeviceResetRequest or ServiceProviderAccessDeviceResetRequest
      UserModifyRequest17sp4(newUserPassword)
      UserAuthenticationModifyRequest(newAuthUsername, newAuthPassword)
      GroupCPEConfigRebuildDeviceConfigFileRequest or ServiceProviderCPEConfigRebuildDeviceConfigFileRequest
      UserInterceptUserModifyRequest16(isActive=False)
GroupInterceptGroupModifyRequest16(isActive=False)
            </pre>
        </div>
    </div> 
    
    <span class="text-danger"><i class="ik ik-alert-triangle"></i> 
      <span class="badge badge-pill badge-danger mb-1">WARNING This will disrupt service for most devices and will stop service on any manually configured devices.</span>
    </span>
    <div class="card-body">
      <div class="form-group row">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <p><label></label><input id="submit" type="submit" value="Start"/></p>
        </form>
      </div>
    </div>
  </div>
{% endblock tool_content %}

{% block javascript %}
  {{ block.super }}
  {% if form.javascript %}
    <script src="{{ form.javascript }}"></script>
  {% endif %}
{% endblock javascript %}
