{% extends 'tools/base.html' %}

{% block tool_content %}
  <div class="card-header justify-content-between">
    <h2>Tools &amp; Reports</h2>
  </div>
  <div class="card-body">
      <div class="alert bg-secondary alert-secondary text-white" role="alert">
      Your tools are avaiable on the left column. It is important
      to read the documentation and information regarding each tool before running
      it. Some tools may impact a customers experience or may need.
      </div>
  </div>
  
{% endblock tool_content %}
