{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Tag Removal</h1>
  <div>
    <h2 class="text-primary"><i class="fa fa-info"></i> Documentation</h2>
    <p>This tool removes the specified tags on all devices in the Provider/Group selection.</p>
    <div class="col-sm-3 col-sm-12 col-sm-3">
    <div class="widget">
        <div class="widget-header">
            <h3 type="button" class="btn btn-secondary minimize-widget widget-title ik ik-plus pull-right"> Summary of actions:</h3>
        </div>
        <div class="widget-body" style="display: none;">
            <pre>...</pre>
          </div>
        </div>

<span class="text-danger"><i class="ik ik-alert-triangle"></i></span>
    <p><strong class="text-danger">WARNING This will disrupt service.</strong></p>
    <div class="well">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p><label></label><input id="submit" type="submit" value="Run"/></p>
      </form>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  {% if form.javascript %}
    <script src="{{ form.javascript }}"></script>
  {% endif %}
{% endblock javascript %}
