{% extends 'base.html' %}

{% block sansayvcm_items %}
{% url 'sansayvcm_client:vcm-route-logs' as the_url %}
<a class="menu-item {% if request.get_full_path == the_url %} active {% endif %}" href="{{ the_url }}">
    Routing Logs
</a>

{% url 'sansayvcm_client:route-queue' as the_url %}
<a class="menu-item {% if request.get_full_path == the_url %} active {% endif %}" href="{{ the_url }}">
    Route Queue
</a>

{% url 'sansayvcm_client:sansay-vcm-request' as the_url %}
<a class="menu-item {% if request.get_full_path == the_url %} active {% endif %}" href="{{ the_url }}">
    Test Sansay Request
</a>
{% endblock sansayvcm_items %}

{% block content %}
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-12 col-md-offset-2 main">
      {% block tool_content %}{% endblock tool_content %}
    </div>
  </div>
{% endblock content %}
