{% extends 'sansayvcm_client/index.html' %}

{% block tool_content %}

<div class="card">
    <div class="card-header">VCM Request Logs</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Cluster</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Transaction Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.number}}</td>
                    <td>{{object.cluster}}</td>
                    <td>{{object.action}}</td>
                    <td>{{object.result_status}}</td>
                    <td>{{object.created}}</td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <a href="#" title="View XML Config" data-toggle="modal" data-target="#xml-{{object.id}}"><i class="far fa-file-excel fa-2x"></i></a>
                                <div class="modal fade" id="xml-{{object.id}}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">XML Config File</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p><pre>{{object.xmlcfg}}</pre></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
		            </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock tool_content %}

