{% extends "base_guest.html" %}

{% load staticfiles %}

    {% block content %}
        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg" style="background-image: url('{% static 'img/auth/login-bg.jpg'%}') ">
                            <div class="lavalite-overlay"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <div class="logo-centered">
                                <a href="./dashboard"><img src="{% static 'images/Logo2.png' %}" alt=""></a>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger"><strong>Warning!</strong> Authentication failed, wrong username or password.</div>
                            {% endif %}
                            <h3>Register into AutoMate</h3>
                            <form form action='' method='post' class="form-signin" autocomplete="off">
                            {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="" autofocus>
                                    <i class="ik ik-user"></i>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" value="" id="email" placeholder="Email" required>
                                    <i class="ik ik-mail"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" value="" id="password" placeholder="Password" required>
                                    <i class="ik ik-lock"></i>
                                </div>
                                <div class="sign-btn text-center">
                                    <button class="btn btn-theme">Register</button>
                                </div>
                            </form>
                            <br><br>
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!
                                </strong> {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'plugins/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'plugins/screenfull/dist/screenfull.js' %}"></script>
        <script src="{% static 'dist/js/theme.js' %}"></script>
        <script>$('#username').focus();</script>
    {% endblock content %}